---
---

//@import "{{ site.theme }}";
@import "mdcolors";

$color-body-bg: $Cyan700;
$color-article-bg: $Cyan500;
$color-block-bg: $Cyan200;
$color-block2-bg: $Cyan100;

$margin-base: 0.2em;

$fonts-serif:
  Bookman,
  Palatino,
  "Times New Roman",
  Times,
  serif;

$fonts-sans:
  -apple-system,
  BlinkMacSystemFont,
  "Segoe UI",
  Helvetica,
  Arial,
  sans-serif,
  "Apple Color Emoji",
  "Segoe UI Emoji",
  "Segoe UI Symbol";

body, p, h1, h2, h3, h4, h5, h6, ul, li {
  color: black;
  border: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: $fonts-serif;
  padding: 0.2em;
  padding-left: 2%;
  padding-right: 2%;
  background-color: $color-body-bg;
}

article {
  padding: $margin-base;
  //border: dotted 2px black;
  background-color: $color-article-bg;
}

footer {
  font-family: $fonts-sans;
  font-size: smaller;
  padding: 2 * $margin-base;
  background-colors: $color-block-bg;
}

a {
  text-decoration: none;
  color: #16D;
}

a.unnamed-link {
  //font-family: Verdana, sans-serif;
  font-size: 90%;
  font-stretch: condensed;
}

h1 { font-size: 180%; }
h2 { font-size: 140%; }
h3 { font-size: 120%; }
h4 { font-size: 110%; }
h5 { font-size: 100%; }
h6 { font-size: 100%; }

h1, h2, h3, h4, h5, h6, ul {
  margin-top: 2 * $margin-base;
  margin-bottom: 2 * $margin-base;
}

ul { margin-left: $margin-base; margin-right: $margin-base; }

p + p { margin-top: $margin-base; }

h1, h2, h3, h4, h5, h6 {
  font-family: $fonts-sans;
}

h2, h3, h4, h5, h6 {
  border: dotted 2px gray;
  padding: $margin-base;
}

h2, h3, h4, h5, h6, article p { background-color: $color-block-bg; }

article ul li,    article ul ul ul li    { background-color: $color-block-bg; }
article ul ul li, article ul ul ul ul li { background-color: $color-block2-bg; }

#amazonSelector > * { vertical-align: middle; }

article ul {
  list-style-type: none;
}

article ul ul {
  padding-left: $margin-base + 2 * $margin-base;
}

article ul li {
  border: solid 1px black;
  margin: $margin-base;
  padding-left: 4 * $margin-base;
  padding-right: 4 * $margin-base;
  padding-top: $margin-base;
  padding-bottom: $margin-base;
}

