---
---

@import "mdcolors";

$color-body-bg: $Green700;
$color-article-bg: $Green500;
$color-block-bg: $Green200;
$color-block2-bg: $Green100;

//$color-link-text: $Red700;
$color-link-text: $Blue900;

$spacing: 0.2em;

$fonts-serif:
  Bookman,
  Palatino,
  "Times New Roman",
  Times,
  serif;

$fonts-sans:
  -apple-system,
  BlinkMacSystemFont,
  "Segoe UI",
  Helvetica,
  Arial,
  sans-serif,
  "Apple Color Emoji",
  "Segoe UI Emoji",
  "Segoe UI Symbol";

body, p, h1, h2, h3, h4, h5, h6, ul, li, article, header, footer {
  color: black;
  border: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: $fonts-serif;
  padding: 0.2em;
  padding-left: 2%;
  padding-right: 2%;
  background-color: $color-body-bg;
}

article {
  padding: $spacing (2 * $spacing);
  //border: dotted 2px black;
  background-color: $color-article-bg;
}

footer {
  font-family: $fonts-sans;
  font-size: smaller;
  padding: 2 * $spacing;
  background-color: $color-block-bg;
}

#amazonSelector > * { vertical-align: middle; }

a {
  text-decoration: none;
  color: $color-link-text;
}

a.unnamed-link {
  //font-family: Verdana, sans-serif;
  font-size: 90%;
  font-stretch: condensed;
}

h1 { font-size: 180%; }
h2 { font-size: 140%; }
h3 { font-size: 120%; }
h4 { font-size: 110%; }
h5 { font-size: 110%; }
h6 { font-size: 110%; }

h1, h2, h3, h4, h5, h6, ul {
  margin: $spacing 0;
}

p + p { margin-top: $spacing; }
p { padding: $spacing; }

h1, h2, h3, h4, h5, h6 {
  font-family: $fonts-sans;
}

h2, h3, h4, h5, h6 {
  border: solid 2px black;
}

h1, h2, h3, h4, h5, h6 {
  padding: $spacing;
}

h2, h3, h4, h5, h6, article p { background-color: $color-block-bg; }
h1 { background-color: $color-block2-bg; }

article ul li,    article ul ul ul li    { background-color: $color-block-bg; }
article ul ul li, article ul ul ul ul li { background-color: $color-block2-bg; }

article ul {
  list-style-type: none;
}

article ul ul {
  padding-left: $spacing + 2 * $spacing;
}

article ul li {
  border: solid 1px black;
  margin: $spacing 0;
  padding: $spacing (2 * $spacing);
//  padding-left: 2 * $spacing;
//  padding-right: 2 * $spacing;
//  padding-top: $spacing;
//  padding-bottom: $spacing;
}

