<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
{% seo %}
    <link href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}" rel="stylesheet">
  </head>
  <body>
    <div class="container-lg px-3 my-5 markdown-body">
      {% if site.title and site.title != page.title %}
        <h1><a href="{{ "/" | relative_url }}">{{ site.title }}</a></h1>
      {% endif %}

      <article id='content'>
      {{ content }}
      </article>

      {% if site.github.private != true and site.github.license %}
      <div class="footer border-top border-gray-light mt-5 pt-3 text-right text-gray">
        This site is open source. {% github_edit_link "Improve this page" %}.
      </div>
      {% endif %}
    </div>
    <!--
    <script src="{{ "assets/javascript/anchor-js/anchor.min.js" | relative_url }}"></script>
    <script>anchors.add();</script>
    -->
    <footer>
      <p>
      We are a participant in the Amazon Services LLC Associates
      Program, an affiliate advertising program designed to provide a
      means for us to earn fees by linking to Amazon.com and affiliated
      sites.
      </p>
    </footer>
  </body>
</html>
